apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kargo-ingress
  namespace: kargo
annotations:
  traefik.ingress.kubernetes.io/router.tls: "true"
spec:
  rules:
    - host: {{ .Values.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: kargo-api
                port:
                  number: 443
