apiVersion: apps/v1
kind: Deployment
metadata:
  name: pihole
  namespace: pihole
  labels:
    app: pihole
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      containers:
        - name: pihole
          image: pihole/pihole:latest
          ports:
            - containerPort: 80
              name: http
            - containerPort: 53
              name: dns-tcp
              protocol: TCP
            - containerPort: 53
              name: dns-udp
              protocol: UDP
          env:
            - name: WEBPASSWORD
              value: {{ .Values.password | quote }}
            - name: TZ
              value: "America/Vancouver"
          volumeMounts:
            - name: pihole-data
              mountPath: /etc/pihole
            - name: dnsmasq-data
              mountPath: /etc/dnsmasq.d
            - name: custom-dns
              mountPath: /etc/dnsmasq.d/02-custom-dns.conf
              subPath: 02-custom-dns.conf
      volumes:
        - name: pihole-data
          persistentVolumeClaim:
            claimName: pihole-data
        - name: dnsmasq-data
          persistentVolumeClaim:
            claimName: dnsmasq-data
        - name: custom-dns
          configMap:
            name: pihole-custom-dns
